<h3 ng-cloak class="title">{{headerData.title}}</h3>
<div ng-cloak class="update">Last updated at: {{updateTime | date: 'medium'}}</div>

<table ng-cloak class="table">
  <thead>
    <th>Time</th>
    <th>Magnitude</th>
    <th>Location</th>
    <th>Depth</th>
    <th>Lat/Long</th>
    <th ng-show="user">Distance from User Zip</th>
    <th>Detail</th>
  </thead>
  <tbody>
    <tr ng-repeat="earthquake in earthquakes" ng-class="{warningDistance: (earthquake.distanceToUser < 500)}">
      <td>{{earthquake.properties.time | date: 'mediumTime'}}</td>
      <td>{{earthquake.properties.mag}}</td>
      <td>{{earthquake.properties.place}}</td>
      <td>{{earthquake.geometry.coordinates[2]}} Miles</td>
      <td><a href="https://www.google.com/maps/@{{earthquake.geometry.coordinates[1]}},{{earthquake.geometry.coordinates[0]}},3809m/data=!3m1!1e3" target="_blank">{{earthquake.geometry.coordinates[1]}}, {{earthquake.geometry.coordinates[0]}}</a></td>
      <td ng-show="user">{{earthquake.distanceToUser | number}} miles</td>
      <td><a href={{earthquake.properties.url}} target='_blank'>USGS Detail</a></td>
    </tr>
  </tbody>
</table>

<div ng-show="noQuake" class="alert alert-success" role="alert">{{noQuake}}</div>

<pre>Current user latitude/longitude: {{user.latitude}}/{{user.longitude}}</pre>

<div class="sourceInfo">
  <p>Data provided by <a href="http://earthquake.usgs.gov/earthquakes/feed/v1.0/geojson.php" target="_blank">USGS</a></p>
</div>