#mainnav {
  border-radius: 0;
  border: 0px;
  padding-right: 15px;
  margin-bottom: 1px;
}

.timeFrame {
  float: right;
  margin-top: 20px;
}

.warningDistance {
  color: #e74c3c;
}

.tableTitle {
  display: inline-block;
}

.magnitude {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
}

.distanceUser {
  font-weight: 700;
}

.navbar-default .navbar-nav>li>a:focus {
background-color: rgb(51, 51, 51);
}

.navbar-default .navbar-nav>li>a:hover {
background-color: rgb(51, 51, 51);
}

.headerImg {
  margin: 0;
  width: 32px;
  height: 32px;
  float: left;
  margin-top: 10px;
  margin-right: 1px;
}

.footerRight {
  display: inline-block;
  float: right;
}

.inlineBlock {
  display: inline-block;
}

.dataS {
  margin-right: 10px;
}


.cssFade {
    transition: 0.5s linear all;
    opacity: 1;
}
.cssFade.ng-hide {
    opacity: 0;
}

.searchBox {
  margin-top: 20px;
}

.usgsInfo {
  display: inline-block;
  font-size: 0.75em;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
.footer {
  position: absolute;
  bottom: 40px;
  width: 100%;
  height: 60px;
  margin-top: 30px;
}


.footerMiddle {
  font-size: 0.75em;
  margin: 0 auto;
}


