 <h3>User Dashboard</h3>
<pre>{{user}}</pre>

<div class="row">
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item">ZIP Code: {{user.zip}}</li>
      <li class="list-group-item">User Latitude {{user.latitude}}</li>
      <li class="list-group-item">User Longitude {{user.longitude}}</li>
    </ul>
  </div>
  <div class="col-md-6">

    <div class="alert alert-danger" ng-show="zipError">{{zipError}}</div>
    <div ng-show="zipSuccess" class="alert alert-success" role="alert">{{zipSuccess}}</div>

    <form class="form">
      <div class="form-group">
        <label>Update ZIP code</label>
        <input placeholder="Enter New ZIP Code" class="form-control" ng-model="updateZipData">
      </div>
      <button class="btn btn-primary" ng-click="updateZip()">Update ZIP</button>
    </form>
  </div>
</div>