 <h3>User Dashboard</h3>
<!-- <pre>{{user}}</pre> -->

<div ng-show="successMsg" class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{successMsg}}
</div>

<div ng-show="errorMsg" class="alert alert-danger alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{errorMsg}}
</div>

<div class="row">
  <div class="col-md-6">

    <div class="alert alert-danger" ng-show="zipError">{{zipError}}</div>
    <div ng-show="zipSuccess" class="alert alert-success" role="alert">{{zipSuccess}}</div>

  <div class="well">
    <h3>User Location Setup</h3>
    <form class="form">
      <div class="form-group">
        <label>ZIP code <a href=" " title="ZIP code gives users approximate Latitude/Longitude for use in home page and alerts"><i class="fa fa-question-circle"></i></a></label>
        <input placeholder="Enter New ZIP Code - first 5 digits only required" class="form-control" ng-model="updateZipData">
      </div>
      <button class="btn btn-primary" ng-click="updateDashboard()">Update ZIP</button>
    </form>
  </div>

  <div class="alert alert-danger" ng-show="thresholdError">{{thresholdError}}</div>
  <div ng-show="thresholdSuccess" class="alert alert-success" role="alert">{{thresholdSuccess}}</div>

  <div class="well">
    <h3>Threshold Setup</h3>
    <form class="form">
      <div class="form-group">
        <label>Distance threshold <a href=" " title="Will alert if earthquake is within this distance by highlighting in red on the home page and/or alerting with email or text"><i class="fa fa-question-circle"></i></a></label>
        <div class="input-group">
          <input placeholder="Distance threshold" class="form-control" ng-model="emailDistance">
           <div class="input-group-addon">miles</div>
        </div>
      </div>
      <div class="form-group"> 
        <label>Choose magnitude threshold <a href=" " title="Will alert if earthquake is this value and higher"><i class="fa fa-question-circle"></i></a></label>
        <select class="form-control" ng-model="emailMagnitude">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
         </select>
       </div>
         <button ng-click="updateDashboard()" class="btn btn-primary">Update Threshold Settings</button>
    </form>
  </div>

    <div class="well">
    <h3><i class="fa fa-envelope-o"></i> Email alert setup</h3>
      <form class="form">
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" ng-model="updateEmailData">
        </div>
        <div class="form-group">
          <label>Email frequency</label>
          <select class="form-control" ng-model="updateEmailFrequency">
            <option value="60000">1 minute</option>
            <option value="300000">5 minutes</option>
            <option value="600000">10 minutes</option>
            <option value="900000">15 minutes</option>
            <option value="1800000">30 minutes</option>
            <option value="2700000">45 minutes</option>
            <option value="3600000">1 hour</option>
            <option value="7200000">2 hours</option>
            <option value="14400000">4 Hours</option>
            <option value="28800000">8 Hours</option>
          </select>
        </div>
        <div class="form-group">
          <label>
            <input ng-model="emailAlertActive" type="checkbox">
            Email alerts enabled 
          </label>
        </div>
        <button class="btn btn-primary" ng-click="updateDashboard()">Update Email Settings</button>
      </form>
    </div>

   <div class="well">
    <h3><i class="fa fa-mobile"></i> Text alert setup</h3>
      <form class="form">
        <div class="form-group">
          <label>Cell number</label>
          <input type="tel" class="form-control" placeholder="1112223333" ng-model="updateTextData">
        </div>
        <div class="form-group">
          <label>Text frequency</label>
          <select class="form-control" ng-model="updateTextFrequency">
            <option value="60000">1 minute</option>
            <option value="300000">5 minutes</option>
            <option value="600000">10 minutes</option>
            <option value="900000">15 minutes</option>
            <option value="1800000">30 minutes</option>
            <option value="2700000">45 minutes</option>
            <option value="3600000">1 hour</option>
            <option value="7200000">2 hours</option>
            <option value="14400000">4 Hours</option>
            <option value="28800000">8 Hours</option>
          </select>
        </div>
        <div class="form-group"> 
          <label>Choose magnitude threshold</label>
          <select class="form-control" ng-model="updateTextMagnitude">
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
           </select>
        </div>
        <div class="form-group">
          <label>
            <input ng-model="textAlertActive" type="checkbox">
            Text alerts enabled 
          </label>
        </div>
        <button class="btn btn-primary" ng-click="updateDashboard()">Update Text Settings</button>
      </form>
    </div>
  </div>


  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">User Info</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">ZIP Code: {{user.zip}}</li>
          <li class="list-group-item">User Latitude {{user.latitude}}</li>
          <li class="list-group-item">User Longitude {{user.longitude}}</li>
          <li class="list-group-item">Distance threshold for email: {{user.emailDistance}}</li>
          <li class="list-group-item">Magnitude threshold for email: {{user.emailMagnitude}}</li>
          <li class="list-group-item">Email: {{user.email}}</li>
          <li class="list-group-item">Email frequency: {{user.emailFrequency}}</li>
          <li class="list-group-item">Email alerts enabled: {{user.emailAlertActive}}</li>
          <li class="list-group-item">Cell: {{user.cell}}</li>
          <li class="list-group-item">Text alerts frequency: {{user.textFrequency}}</li>
          <li class="list-group-item">Text alerts enabled: {{user.textAlertActive}}</li>
        </ul>
      </div>
    </div>
  </div>
</div> 

